.chat-main
  .main-header
    .group-name
      = @group.name
      %ul.member-list
        Member: 
        %li.member-name
          - @group.users.each do |user|
            = user.name
    = link_to edit_group_path(@group), class: "main-editbtn" do
      Edit
  .main-message
    = render @messages
  .main-form
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .form-content
        = f.text_field :content, class: 'form-input-content', placeholder: 'type a message'
        = f.label :image, class: 'form-input-image' do
          = icon('far', 'image', class: 'form-icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form-submit'