.chat-side
  .side-header
    .side-box
      %h3.side-header__side-username
        = current_user.name
      %ul.side-header__side-menu
        %li.side-header__icon
          = link_to '#' do  
            = icon('far', 'edit')
        %li.side-header__icon
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')
  .side-group
    .group-list
      .group-name
        グループ名
      .group-message
        最新のメッセージ